* {
    font-size: 1.25rem;
}

.container {
    display: flex;
    justify-content: center;
}


.calculator {
    flex-direction: column;
    padding-top: 120px;
}

.display{
    width: 400px;
    height: 200px;
    border: 2px solid grey; 
    background-color: rgb(213, 213, 213);
}

.buttons {
    display: grid;
    width: 400px;
    height: 500px;
    grid-template-columns: repeat(4,96.89px);
    gap: 4px;
    border: 2px solid grey;
}