body {
  background: linear-gradient(to bottom, #aa1455, #ea96e7);
  color: #333;
  font-family: 'Courier New', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-size: 26px;
}

.container {
  display: flex;
  justify-content: center;
  background-color: #fbe4ec;
  width: 450px;
  height: 750px;
  padding-top: 20px;
  border-radius: 6px;
}

.calculator {
  flex-direction: column;
}

.display {
  width: 400px;
  max-width: 400px;
  height: 200px;
  background-color: #ffe8f1;
  border: 2px solid #d49cb3;
  border-radius: 6px;
  padding: 20px;
  font-size: 2rem;
  font-weight: bold;
  text-align: right;
  color: #a0004f;
  box-sizing: border-box;
}

.buttons {
  display: grid;
  width: 400px;
  height: 500px;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
  border: none;
  padding: 4px;
  margin-top: 10px;
}

button {
  background-color: #f4c2d7;
  color: #333;
  border: 1px solid #d49cb3;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 0;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

button:hover {
  background-color: #ebb0cb;
  transform: scale(1.03);
}

#equals {
  background-color: #ffcc00;
  color: #111;
  font-weight: 900;
}

#clear {
  background-color: #ff6f91;
  color: white;
}

#delete {
  background-color: #ffa5b3;
}
